// ---------- ### Primary ----------
$tomato: hsl(4, 100%, 67%);
// ---------- ### Neutral ----------
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
// ---------- Spacing margins ----------
$mrg-1-25rem: 1.25rem;
$mrg-1-5rem: 1.5rem;
// ---------- Border input , button ----------
$bd-radius-4px: 5px;
$padding-1rem-1-7rem: 1.2rem 1.7rem;
