@use "../abstract/variables" as colors_bg;

@font-face {
  font-family: roboto_bold;
  src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto_regular;
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: roboto_regular;
  hyphens: manual;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 , h2 {
  font-family: roboto_bold;
  color: colors_bg.$dark-slate-grey;
  font-size: 3em;
}

p, li {
  font-size: 1.105em;
  color: colors_bg.$charcoal-grey;
}

form , input, button , label{
  font-family: inherit;
  hyphens: manual;
  display: block;
  appearance: none;
}

label {
  font-family: roboto_bold;
  font-size: .8em;
}

button{
  background-color: colors_bg.$dark-slate-grey;
  color: colors_bg.$white;
}