@use "../abstract/mixins" as layout;
@use "../abstract/variables" as colors_bg;
.card {
  height: 100dvh;
  position: relative;

  &__title {
    margin-bottom: colors_bg.$mrg-1-25rem;
    @include layout.media-break() {
      margin-bottom: 1rem;
    }
  }

  &__content {
    width: 100%;
    position: absolute;
    z-index: 20;
    opacity: 1;
    transition: opacity 0.75s ease 0.1s;
    @include layout.flex($direction: column-reverse);
    @include layout.media-break() {
      border-radius: 1.5rem;
      padding: 1rem;
      background-color: colors_bg.$white;
      top: calc(50% - 19rem);
      left: calc(50% - 30rem);
      width: 60rem;
      height: 38rem;
      @include layout.flex($direction: row, $gap: 0.75rem);
    }
  }

  &__hidden {
    z-index: 10;
    opacity: 0;
    transition: opacity 0.75s ease;
  }

  &__container {
    padding: 1rem 1.65rem;
    @include layout.media-break() {
      padding: 2rem 2.45rem;
      flex: 55%;
    }
  }

  &__image {
    @include layout.media-break() {
      flex: 45%;
      border-radius: 1.5rem;
      overflow: hidden;
    }
  }

  &__wrapper {
    padding-right: 2rem;
    margin-bottom: colors_bg.$mrg-1-25rem;
  }

  &__information {
    margin-bottom: colors_bg.$mrg-1-5rem;
  }

  &__products {
    margin-bottom: colors_bg.$mrg-1-25rem;
    @include layout.flex(
      $aling: flex-start,
      $justify: flex-start,
      $direction: row
    );
    @include layout.media-break() {
      margin-bottom: 0.5rem;
    }
    &::before {
      content: url("../assets/images/icon-list.svg");
    }
  }
}
