@use "../abstract/mixins" as layout;
.success {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:10;
  opacity: 0;
  padding: 6.5rem 1.5rem 4rem 1.5rem;
  @include layout.flex($aling:flex-start, $justify:space-around, $gap:15rem);
  &__show{
    z-index: 20;
    opacity: 1;
  }

  &__icon {
    margin-bottom: 2rem;
    width: 4rem;
  }

  &__title {
    line-height: .95;
    margin-bottom: 2rem;
  }

  &__description {
    line-height: 1.5;
  }

  &__button{
    padding: 1.2rem 1rem;
  }
}